.navbars 
    nav.navbar.navbar-expand-lg
        .container
            a.navbar-brand(href='/') olx
            button.search-bar
              a(href='/list') 
                  input(type="submit" value='Найти')
                  span.i.fa-solid.fa-magnifying-glass
            .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav
                li.nav-item
                a.nav-link(href='/user').i.fas.fa-user-alt   Profil
                